@model Feasablty_study.Models.Support_Messages

              <h4 class="breadcrumb-wrapper py-3 mb-4">
                <span class="text-muted fw-light"> رسائل الدعم الفني /</span> عرض الرسالة
              </h4>

              <h5>الر سالة</h5>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <h5 class="card-header">عنوان الرسالة </h5>
                    <div class="card-body">
                      <div class="mb-2">
                        <div class="input-group input-group-merge ">
                          <span id="basic-icon-default-company2" class="input-group-text"><i class="bx bx-buildings"></i></span>
                          <input type="text" disabled="" id="basic-icon-default-company" class="form-control "  placeholder='@Html.DisplayFor(model => model.Title)'>
                        </div>
                      </div>
                      <p class="demo-inline-spacing">
                        <a class="btn btn-success me-1" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">محتوى الرسالة</a>
                        <button class="btn btn-success me-1" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                          اسم المرسل
                        </button>
                      </p>
                      <div class="row">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                          <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="d-grid d-sm-flex border p-3">
                              
                              <span>
                                @Html.DisplayFor(model => model.Content)
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6">
                          <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="d-grid d-sm-flex border p-3">
                              <img src="../../assets/img/elements/3.jpg" alt="collapse-image" height="40" class="me-4 mb-2 mb-sm-0">
                              <span>
                             <strong>@Html.DisplayFor(model=>model.user.Name) </strong>  
                              </span>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <div class="d-flex col-12 justify-content-between">
                        <button class="btn btn-primary me-1" onclick="location.href='@Url.Action("Index", "Support_Messages")'">رجوع
                      <i class="bx bx-chevron-left bx-sm me-sm-n2"></i>
                      </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
         

