@model IEnumerable<Feasablty_study.Models.Support_Messages>



<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">
                <h5 class="card-header"> الرسائل</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table id="MessageTable" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>عنوان الرسالة</th>
            <th>الايميل</th>
            <th>التارسخ للرسالة</th>
            <th>المرسل</th>
            <th>التحكم</th>
        </tr>
    </thead>
</table>

                      
@*
@foreach (var item in Model) {
                <tr>
                          <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong> @Html.DisplayFor(modelItem => item.Title) </strong></td>
                          <td>@Html.DisplayFor(modelItem => item.Date)	 </td>
                          <td>
                            <strong> @Html.DisplayFor(modelItem => item.user.Name)</strong>
                          </td>
                          <td> @Html.DisplayFor(modelItem => item.Email)</td>
                          <td>
                            <div class="dropdown">
                              <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item"  asp-controller="Support_Messages" asp-action="Details" asp-Route-id=@item.Id ><i class="bx bx-info-circle bx-xs"></i> عر ض</a>
                                <a class="dropdown-item" asp-controller="Support_Messages" asp-action="Delete" asp-Route-id=@item.Id ><i class="bx bx-trash me-1"></i> حذف</a>
                              </div>
                            </div>
                          </td>
                        </tr>
           
}
                        </tbody>
                    </table>*@
                  </div>
                </div>
              </div>

