<div class="help-center-popular-articles py-5">
                <div class="container-xl">
                  <h3 class="text-center pb-3 mt-2">مرحباً بك في إدارة النظام   👋</h3>
                  <hr>
                  <div class="row">
                    <div class="col-lg-10 mx-auto">
                      <div class="row mb-3">
                        <div class="col-md-4 mb-4 mb-md-0">
                          <div class="card shadow-none border">
                            <div class="card-body text-center">
                              <img class="mb-4" src="~/assets/img/icons/unicons/add users1.jpg" height="100" alt="Help center articles">
                              <h5>إدراة المستخدمين</h5>
                              <a class="btn btn-label-primary" asp-controller="Users" asp-action="index">إدارة المستخدمين</a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 mb-4 mb-md-0">
                          <div class="card shadow-none border">
                            <div class="card-body text-center">
                              <img class="mb-4" src="~/assets/img/icons/unicons/Software engineer-rafiki.svg" height="100" alt="Help center articles">
                              <h5>تقارير الدراسات والمشاريع</h5>
                              <a class="btn btn-label-primary" asp-controller="Feasibility_study" asp-action="index">تقارير الدراسات </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="card shadow-none border">
                            <div class="card-body text-center">
                              <img class="mb-4" src="~/assets/img/icons/unicons/Messages supportss.png" height="100" alt="Help center articles">
                              <h5>رسائل الدعم الفني</h5>
                              <a class="btn btn-label-primary" asp-controller="Support_Messages" asp-action="index">رسائل الدعم الفني</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>