@using Feasablty_study.Domin.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "التسجيل في النظام";
    Layout = null;
}

<!DOCTYPE html>

<html  lang="ar"  class="light-style customizer-hide"  dir="rtl"  data-theme="theme-default"  data-assets-path="/assets/"  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>نظام الجدوى تسجيل الدخول </title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <script src="~/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Content --> 
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                  <span class="app-brand-text demo h3 fw-bold mb-0">نظام دراسة الجدوى</span>
              </div>
<h1>انشاء مستخدم</h1>

<hr/>

          <div class="card">
            <div class="card-body">


    <div class="col-md">
      <h4 class="mb-2">قم بأدخال البيانات ادناة للتسجيل 👇</h4>

        <form  method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @if(TempData["Error"]!=null)
                                         {
                                                        <div class="text-danger">@TempData["Error"]</div>

                                        }

                                        <div class="form-group mb-3">
                <label for="username" class="form-label" placeholder="ادخل اسم المستخدم" autofocus>الاسم</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label class="form-label" for="phoneNumber">رقم التلفون</label>
                   <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label for="email" class="form-label">البريد الالكتروني</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                  <label for="email" class="form-label">اسم المستخدم</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>                    
            <div class="form-group form-password-toggle"> 
                <label class="form-label" for="password">كلمة المرور</label>
                <div class="input-group input-group-merge">
                <input id="password" asp-for="Password" class="form-control"  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"/>
                 <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                 </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-password-toggle">  
                <label class="form-label" for="password"> تاكيد كلمة المرور </label>
                <div class="input-group input-group-merge">
                 <input asp-for="PasswordConfirm" class="form-control"  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                 <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                 </div>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
          <div class="form-group">
               <label class="form-label" for="Regions">المنطقة</label>
                   <select asp-for="RegionId" class="form-control" asp-items="ViewBag.Regions"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            <br />
           

            <div class="form-group">
                <input type="submit" value="انشاء مستخدم" class="btn btn-primary d-grid w-100" />
            </div>
        </form>
        <p class="text-center">
                <span>لدي حساب بالفعل</span>
                <a asp-controller="Account" asp-action="login">
                  <span>تسجيل الدخول</span>
                </a>
              </p>
        
    </div>
    </div>
    </div>
</div>
</div>

 </div>
</div>
</div>
    <!-- / Content -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets/js/pages-auth.js"></script>
  </body>
</html>





