@using Feasablty_study.Domin.ViewModels
@model EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>تعديل بيانات المستخدم</h1>

<div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
          <div class="card">
            <div class="card-body">
              <div class="user-avatar-section">
                  <div class="d-flex flex-column align-items-center">
                      <img class="img-fluid rounded my-4" src="../../assets/img/avatars/adminuser.png" height="110" width="110" alt="User avatar">
                         <div class="user-info text-center">
                        <h4 class="mb-2">تعديل بيانات المستخدم</h4>
                        </div>
                       </div>
                      </div>
                      <hr/>
    <div class="col-md">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label for="username" class="form-label">الاسم</label>
                <input asp-for="Name" class="form-control"  placeholder="ادخل اسم المستخدم" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label class="form-label" for="phoneNumber">رقم التلفون</label>
                   <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
                  
            <div class="form-group form-password-toggle"> 
                <label class="form-label" for="password">كلمة المرور</label>
                <div class="input-group input-group-merge">
                <input id="password" asp-for="Password" class="form-control"  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"/>
                 <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                 </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-password-toggle">  
                <label class="form-label" for="password"> تاكيد كلمة المرور </label>
                <div class="input-group input-group-merge">
                 <input asp-for="PasswordConfirm" class="form-control"  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                 <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                 </div>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> 
                    <label  class="form-label" >الحالة (تفعيل /تعطيل)</label>

                </label>
            </div>
                        @if(User.IsInRole("Admin"))
            {
                             <div class="form-group form-password-toggle">  
            <label asp-for="userRoles" class="control-label"></label>
               <select asp-for="userRoles" class="form-control" asp-items="@(new SelectList(new List<SelectListItem>{new SelectListItem { Selected = true, Text = "ادمن", Value =1.ToString()},new SelectListItem { Selected = false, Text ="مستخدم عادي", Value = 2.ToString()},new SelectListItem { Selected = false, Text ="موظف اداري", Value = 3.ToString()}},"Value","Text",2))"> </select>
               <span asp-validation-for="userRoles" class="text-danger"></span>

           
                </div>
                <div class="form-group">
               <label class="form-label" for="Regions">المنطقة</label>
                   <select asp-for="RegionId" class="form-control" asp-items="ViewBag.Regions"></select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
            }

            <br />

            <hr/>
                <div class="d-flex justify-content-center pt-3">
                <input type="submit" value="تعديل المستخدم" class="btn btn-warning d-grid w-50" />|
                <a class="btn btn-label-success d-grid w-50" asp-action="Index">عودة للقائمة👈  </a>
            </div>
        </form>
             
    </div>
    </div>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}