@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager; 
@inject SignInManager<User> signInManager; 

@{
    ViewData["Title"] = "الصفحة الرئيسية";
}


          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <nav aria-label="breadcrumb ">
                  <h4 class="breadcrumb-wrapper py-3 mb-4">
                    <span class="text-muted fw-light"> الصفحة الرئيسية</span> 
                  </h4>
                
              </nav>
     
              <!-- /Popular Articles -->
                @if(User.IsInRole("Admin"))
                {
            <partial name="../Shared/AdminHomeLayout.cshtml" />

        }
        else
        {
                <partial name="../Shared/UserHomeLayout.cshtml" />

        }

            </div>
            <!-- / Content -->

            <!-- Footer -->
         <!-- فارغ -->
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
            </div>
          </div>
          <!-- Content wrapper -->
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->